@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  font-family: "DM Mono", monospace;
}

body {
  background-image: url(https://www.digitalartsonline.co.uk/cmsdata/slideshow/3476206/MapPatternFinal1.jpg);
  min-width: 520px;
}

body input[type="submit"] {
  width: 150px;
  border: none;
  outline: none;
  border-radius: 2px;
}

body .vs,
body .vs2 {
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 20px;
  font-weight: 600;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-shadow: 2px 2px greenyellow;
}

body ul {
  list-style: none;
}

.container {
  padding: 10px;
}

.logo {
  grid-area: logo;
  background-color: white;
  text-decoration: underline;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.login {
  background-color: rgba(255, 0, 0, 0.904);
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: ease-in-out 0.6s;
  transition: ease-in-out 0.6s;
  z-index: 100;
}

.login:hover {
  background-color: #ff0505;
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  border-radius: 2px;
  -webkit-box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.75);
}

.nav {
  background-color: rgba(255, 255, 0, 0.63);
  margin: auto;
  padding: 10px;
}

.nav .nav-link {
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.nav .nav-link:hover {
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.main {
  background-color: rgba(255, 255, 0, 0.808);
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 300px;
}

.game {
  background-color: royalblue;
}

.game input[type="text"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.game input[type="text"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.game input[type="text"]::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.game input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.game input[type="text"] {
  font-size: 30px;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: solid 2px black;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  color: black;
}

.game input[type="text"]:focus {
  width: 80%;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.game input[type="text"]:hover {
  width: 80%;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.game input[type="submit"] {
  margin-top: 10px;
  width: 170px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: 20px;
  background-color: yellowgreen;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.game input[type="submit"]:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.game input[type="submit"]:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.game form#igraKomp {
  margin-bottom: 37px;
}

.game form#igraKomp input[type="text"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.game form#igraKomp input[type="text"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.game form#igraKomp input[type="text"]::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.game form#igraKomp input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.game form#igraKomp input[type="text"] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.game #slovo {
  background-color: yellowgreen;
  margin: auto;
  max-width: 200px;
  font-size: 40px;
  font-weight: bold;
  border-radius: 2px;
}

.game #igraKorisnik {
  pointer-events: none;
}

.game #igraKorisnik #zavrsiIgru {
  cursor: pointer;
}

.game #igrajBtn {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 30px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 13px 30px;
  text-align: center;
}

.game1vs1 {
  margin: 70px;
  padding: 50px;
  border-radius: 3px;
}

#skor {
  background-color: rgba(255, 0, 0, 0.901);
  min-height: 454px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.predlog {
  background-color: rgba(255, 255, 255, 0.925);
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: ease-in-out 0.6s;
  transition: ease-in-out 0.6s;
  z-index: 100;
}

.predlog input[type="text"] {
  width: 50px;
  font-size: 30px;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: solid 2px black;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  color: black;
}

.predlog input[type="text"]:focus {
  width: 50%;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.predlog input[type="text"]:hover {
  width: 50%;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.predlog select {
  border-radius: 3px;
  background-color: royalblue;
  cursor: pointer;
}

.predlog input[type="submit"] {
  cursor: pointer;
  margin-bottom: 10px;
}

.predlog:hover {
  background-color: white;
  -webkit-transform: translate(5px, -5px);
          transform: translate(5px, -5px);
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  border-radius: 2px;
  -webkit-box-shadow: -10px 10px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -10px 10px 12px 0px rgba(0, 0, 0, 0.75);
}

.foo {
  background-color: greenyellow;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.foo p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#TopLista h3 {
  text-decoration: underline;
}

#TopLista #poznati {
  list-style: none;
}

#TopLista #poznati li:first-child {
  font-size: 23px;
  font-weight: 800;
  margin-top: 35px;
  margin-bottom: 15px;
}

#TopLista #poznati li {
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 2px;
}

#pozdrav {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
  font-weight: 900;
  font-size: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 30px;
  text-align: center;
  text-shadow: 2px 2px yellow;
}

#poruka {
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px #ff0000;
}

label {
  font-size: 20px;
}

#formKorisnik input[type="text"] {
  outline: none;
  background: transparent;
  border: none;
  border-bottom: solid 2px black;
  width: 50px;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

#formKorisnik input[type="text"]:focus {
  width: 200px;
}

#formKorisnik input[type="text"]:hover {
  width: 200px;
}

#formKorisnik input[type="submit"] {
  cursor: pointer;
}

#rez {
  font-size: 30px;
}

#computer {
  -webkit-transition: ease-in-out 0.3;
  transition: ease-in-out 0.3;
  opacity: 1;
}

#avatar {
  -webkit-transition: ease-in-out 0.3;
  transition: ease-in-out 0.3;
  opacity: 0.4;
}

#computer:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#avatar:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: ease-in-out 0.3;
  transition: ease-in-out 0.3;
}

#popup {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 500px;
  padding: 50px;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.301);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.301);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  z-index: 300;
}

#popup.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=style.css.map */