* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  max-height: fit-content;
}

body {
  display: grid;
  background-color: gray;
}

.container {
  background-color: complement($color: red);
}

.logo {
  grid-area: logo;
  background-color: white;
}

.login {
  background-color: red;
  align-content: space-around;
  justify-content: center;
}

.nav {
  background-color: yellow;
}

.main {
  background-color: royalblue;
  align-content: space-around;
  justify-content: center;
}

.predlog {
  background-color: white;
  align-content: space-around;
  justify-content: center;
}

.foo {
  background-color: greenyellow;
  align-content: space-around;
  justify-content: center;
}
