@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  max-height: fit-content;
  font-family: "DM Mono", monospace;
}

body {
  background-color: white;
  min-width: 350px;
}

.container {
  padding: 10px;
}

.logo {
  grid-area: logo;
  background-color: white;
}

.login {
  background-color: red;
  align-content: space-around;
  justify-content: center;
}

// .login:hover {
//   background-color: blue;
// }

.nav {
  background-color: yellow;
}

.main {
  background-color: royalblue;
  align-content: space-around;
  justify-content: center;
  min-height: 300px;
}

.predlog {
  background-color: white;
  align-content: space-around;
  justify-content: center;
}

.foo {
  background-color: greenyellow;
  align-content: space-around;
  justify-content: center;
}

.userbg {
  background-image: url(https://images.pexels.com/photos/346696/pexels-photo-346696.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
